/**************************************
 * THEME NAME: FICH_2012
 *
 * Files included in this sheet:
 *
 *   FICH_2012/fw_layout.css
 *   FICH_2012/fw_color.css
 *   FICH_2012/fw_fonts.css
 **************************************/

/***** FICH_2012/fw_layout.css start *****/

/* Core */
body {
	/*margin:*/padding-top: 0px;
	padding-bottom: 10px;
	background-color: #eeeeee;
}
h1.headermain div#coord{
	margin: auto !important;
	position: relative;
	float: right !important;
	padding-top: 35px;
}
#header-home, #header {
	float: right !important;
}
#header .headermenu {
    background-color: transparent;
    float: right !important;
    padding-top: 1px;
}

h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main {
  text-align: left;
   padding-left: 5px;
}

h1, h2, h3, h4 {
  text-align: left;
}

h1 {
  padding: 6px;
}

h2 {
  padding: 4px;

}

h3 {
  padding: 3px;
}
/*
#header-home, #header {
background-color:transparent;
background-image: url('');
border-style:none;
padding-top: 50px;
background-repeat: no-repeat;
background-position: 0 100% 
}
*/

/*Columnas de Side blocks*/
#layout-table #left-column{
    /*border: 1px solid;*/
    padding-right: 6px;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 12px;
    background-color: #FFFFFF;
}

#layout-table #right-column {
    /*border: 1px solid;*/
    padding-right: 6px;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 12px;
    background-color: GhostWhite;
}

#left-column .hidden .header, #right-column .hidden .header {
    border-bottom-style:solid;
    border-bottom-width:2px;
}

div#page {
	margin: 0 1%; /*top-bottom =0 y right-left= 7% (del ancho declarado por resolución del body, en este caso 1024);*/
	padding-top:0 !important;
	padding-bottom:3px;
	}

#content {
	clear:both;
	background-color: #eeeeee;
	padding-top: 12px;
	padding-bottom: 0px;
	/*margin-top: 20px;*/
}

h1, h2, h3, th.header {
  border-width: 1px;
  border-style: solid;
}

h4 {
  border-bottom-style: solid;
  border-bottom-width:1px;
}

input, select {
  padding: 0px;
  /*margin-top:20px;*/
  /*float: left;*/
}
#layout-table #middle-column{
  vertical-align:top;
  padding-left:6px;
  padding-right:6px;
}
.sitetopic {
  padding:4px;
  margin: 0px;
}

.generaltable {
  border-width:0px;
}
.generaltable .cell{
	border-collapse:separate;
	border-style:inset;
	border-width:1px;
}
.generalbox {
  border-width:1px;
  border-style:solid;
}

.sitetopiccontent {
  border-width:1px;
  border-style:solid;
}

.clearfix {
 min-width: 0;
 /* overflow: hidden; */
}

.clearfix:after {
  /* content: "<!-- -->";  */
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.userinfobox {
	border-collapse:collapse;
	border-style:none;
}
.userinfobox .content {
	/*border-width:2px;*/
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/***
 *** Header
 ***/

#header-home {
  /* padding:1em 0.5em; */
 /* height:100px;
  border-width:1px;
  border-style:solid;*/
}

/*#header {
  height:55px;
  border-width:1px;
  border-style:solid;
}*/

.headermain, h1.headermain {
  float:left;
  margin:0%;
  padding:0%;
  border-width: 0px;
}

.headermenu {
  float:right;
  text-align:right;
}

div.navbar {
  clear: both;
  padding: 10px 0 0;
  margin-top: 3px;
  border-style: none;
}
/*.navbar {
  width:100%;
  /*margin-top: 5px;
  padding:3px 0.5em;
  border-width:0px;
  border-style:solid;
}*/

div.navbar {
  width: auto;
}

table.navbar {
  width: 100%;
}

.navbar .navbutton form {
  float: left;
}

/*.navbar .navbutton {
  margin-top: 3px;
}*/

/*.navbar .breadcrumb {
  float:left;
  margin:0.2em 0em;
}*/

.breadcrumb ul {
  padding:0%;
  margin:0%;
  text-indent:0%;
  list-style:none;
}
.breadcrumb li {
  display:inline;
}

.navbar .navbutton,
.navbar .menu {
  float:right;
}


/***
 *** Login
 ***/
TABLE.loginbox {
  margin-top: 40px;
}

.loginbox .header {
  border-width:1px;
  border-style:solid;
  border-bottom-width: 0px;
}

.loginbox .content {
  border-top-width: 1px;
}
.loginbox.twocolumns .loginpanel , .loginbox .subcontent{
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/***
 *** Footer
 ***/
#footer {
  	text-align:center !important;
  	border-width: 1px;
  	border-top-style: solid;
  	border-top-color: white;
  	border-bottom-style: solid;
  	border-bottom-color: white;
  /*padding-top:0px;
  padding-bottom: 2px;*/
  /*background-image: url(zocalo_footer.jpg);*/
	margin-top: 20px !important;
}

h1.footer{
	background-color: transparent;
	border-style:none;
	text-align: center;
}
h2.footer{
	background-color: transparent;
	border-style:none;
	text-align: center;
}
p.footer{
	background-color: transparent;
	border-style:none;
	text-align: center;
	padding-bottom: 5px !important;
	padding-top: 5px !important;
}
/*General view.php->popup con parámetros de usuario*/
tr#section-0.section.main , tr#section-1.section.main , tr#section-2.section.main , tr#section-3.section.main , tr#section-4.section.main ,
tr#section-5.section.main , tr#section-6.section.main , tr#section-7.section.main , tr#section-8.section.main , tr#section-9.section.main ,
tr#section-10.section.main {
	border-style: none;
	border-width: 1px;
	padding: 5px;
}
tr#section-0.section.main.hidden , tr#section-1.section.main.hidden , tr#section-2.section.main.hidden ,
tr#section-3.section.main.hidden , tr#section-4.section.main.hidden , tr#section-5.section.main.hidden ,
tr#section-6.section.main.hidden , tr#section-7.section.main.hidden , tr#section-8.section.main.hidden ,
tr#section-9.section.main.hidden , tr#section-10.section.main.hidden {
	border: dashed 1px #add8e6;
}
tr#section-0.section.main.hidden td.left.side,tr#section-1.section.main.hidden td.left.side,tr#section-2.section.main.hidden td.left.side , tr#section-3.section.main.hidden td.left.side,tr#section-4.section.main.hidden td.left.side,tr#section-5.section.main.hidden td.left.side ,
tr#section-6.section.main.hidden td.left.side,tr#section-7.section.main.hidden td.left.side,tr#section-8.section.main.hidden td.left.side,
tr#section-9.section.main.hidden td.left.side,tr#section-10.section.main.hidden td.left.side {
	border: none !important;
}

tr#section-0.section.main td div.summary , tr#section-1.section.main td div.summary , tr#section-2.section.main td div.summary ,
tr#section-3.section.main td div.summary , tr#section-4.section.main td div.summary , tr#section-5.section.main td div.summary ,
tr#section-6.section.main td div.summary , tr#section-7.section.main td div.summary , tr#section-8.section.main td div.summary ,
tr#section-9.section.main td div.summary , tr#section-10.section.main td div.summary {
	/*margin-top: 10px; /*formato por temas*/
	margin-top: 0px; /*formato por semanas*/
}
tr#section-0 td.left.side , tr#section-1 td.left.side , tr#section-2 td.left.side , tr#section-3 td.left.side ,
tr#section-4 td.left.side , tr#section-5 td.left.side , tr#section-6 td.left.side , tr#section-7 td.left.side ,
tr#section-8 td.left.side , tr#section-9 td.left.side , tr#section-10 td.left.side {
	/*border: none;
	vertical-align: top;
	padding-right: 15px;*/
	border: none;
	vertical-align: top;
	padding: 3px;
}
tr#section-0 td.right.side , tr#section-1 td.right.side , tr#section-2 td.right.side , tr#section-3 td.right.side ,
tr#section-4 td.right.side , tr#section-5 td.right.side , tr#section-6 td.right.side , tr#section-7 td.right.side ,
tr#section-8 td.right.side , tr#section-9 td.right.side , tr#section-10 td.right.side {
	border-style: none;
	vertical-align: top;
	padding: 3px;
}

tr#section-0 td ul.section.img-text , tr#section-1 td ul.section.img-text , tr#section-2 td ul.section.img-text ,
tr#section-3 td ul.section.img-text , tr#section-4 td ul.section.img-text , tr#section-5 td ul.section.img-text ,
tr#section-6 td ul.section.img-text , tr#section-7 td ul.section.img-text , tr#section-8 td ul.section.img-text ,
tr#section-9 td ul.section.img-text , tr#section-10 td ul.section.img-text {
	border-style: none;
	list-style-type: none;
	padding: 0 5px 0 0;
}

table {
border-collapse:separate;
}
/*Curso por Temas*/
#course-view .section td.left{
	border-style: none !important;
	text-align:right;
}
/*Curso por Semanas*/
#course-view .section td.content {
	padding-left: 25px;
	padding-top: 20px;
}
#course-view .section .weekdates {
	border-style: none;
	padding: 0 !important;
	margin: 0 !important;
	border-style: none;
	color: white;
	display: none !important;
}
#course-view .section td.side {
	border-style:none !important;
	width: 5px !important;
}
#course-view .section .spacer {
	height:2em;
}
/***
 *** Blocks
 ***/
.sideblock, .sideblock .header, .sideblock .content  {
  border-width: 0px;
  padding: 2px;
  font-size: 9pt;
}


.sideblock .header h2 {
  border-width: 0px;
  padding-top: 4px;
}

.sideblock .header .hide-show-image {
 padding-top: 0px;
 height: 11px;
 width: 11px;
}

.sideblock .footer {
	border-top-width:1px;
 	border-top-style:dashed;
}
div.sideblock div.content {
	padding-bottom: 5px;
/*Ideas para el flotado de las cajas: utilizar una línea estilo ridge*/
	/*border-style: none none ridge;
	border-width: 3px;
	border-color: #92A1A5;*/
/*Utilizar una imágen al final del content que se displaye en el sentido de las x en 0,100*/
	/*background-image: url(footer_sideblock.png);
	background-repeat: repeat-x;
	background-position: 0 100% ;*/
}

/***
 *** Calendar
 ***/
#calendar .maincalendar table.calendarmonth {
	border-collapse:separate;
	margin:0 auto;
	width:98%;
}

table#calendar {
	margin-left: 12px;
}
#calendar .today,
.minicalendar .today {
  border:1px solid !important;
}
#calendar .nottoday, .minicalendar .today {
	border:1px solid #fffff0 !important;
}

table.minicalendar {
  width: 100%;
  margin:10px auto;
  padding:2px;
  border-width:1px;
  border-style:solid;
  border-collapse:separate;
  border-spacing:1px !important;
}

table.minicalendar tr.weekdays th {
   border-style: none;
}

table.minicalendar tr td.day {
  border-style: solid;
  border-width: 1px;
}

table.minicalendar tr.weekdays th abbr {
  border-style: none;
}

table.calendarmonth {
  border-collapse:separate;
  border-spacing:1px !important;
}

table.calendarmonth tr td  {
  border-style: solid;
  border-width: 1px;
}

#calendar .maincalendar .event{
	width: 80%;
	margin-left: 2px;
	margin-right: 2px;
}
#calendar td.sidecalendar .sideblock {
	border-top: 1px hidden;
	border-right: 1px hidden;
	width: 80%;
	margin-left:12px;
}
#calendar .sideblock div.header{
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#calendar .duration_global, #calendar .duration_course, #calendar .duration_group, #calendar .duration_user, .minicalendar .duration_global, .minicalendar .duration_course, .minicalendar .duration_group, .minicalendar .duration_user {
	border-bottom:2px solid #00728F !important;
	border-top:2px solid #00728F !important;
	background-color: #f8f8ff;
}
/***
 *** Course
 ***/

.headingblock {
  border-width:1px;
  border-style:solid;
  padding:5px;
}

/*.categorybox .category,
.categorybox .category {
  border-bottom: solid;
  border-width: 1px;
  padding-top: 7px;
}*/

#course-view .section .left {
  border-right-width: 1px;
  border-right-style: dashed;
}

#course-view .section.hidden .content,
#course-view .section.hidden .side {
  border-width: 1px;
  border-style: dashed;
}
#course-view .section td.content {
	border-style: none;
}

#course-view .section td.content ul.section.img-text {
	line-height: 22px;
}

#course-view .section td.content ul.section.img-text li.activity.label {
	line-height: 16px;
	margin-bottom: 5px;
}

.coursebox .info .name {
  padding-bottom: 5px;
}

.tabrow0 {
   padding-top: 4px;
}

/***
 *** Modules: glossary
 ***/

.entry .concept,
.entryheader .concept {
   margin-top: 5px;
   margin-bottom: 10px;
}

.glossarypost.continuous {
	padding: 5px;
}

/***
 *** Error message
 ***/

.errorbox {
/*   color:#ffffff; */
   border-width: 2px;
}

/*QUIZZES*/
#mod-quiz-report table#attempts, #mod-quiz-report table#commands, #mod-quiz-report table#itemanalysis {
	width: 70%;
	position: relative;
	overflow: hidden;
}
#mod-quiz-mod #reviewoptionshdr .fitem {
	margin-left: 20px;
}
/*Foros*/
#mod-forum-view .subscription {
	margin-right: 12px;
}
/*Formularios*/
.mform fieldset {
	position:relative;
	left: -20px;
	border-width: 1px;
	border-style: solid;
	border-color: #92A1A5;
}
.mform .fitemtitle{
	position:relative;
	left: -15px;
}

/*Modulo de Calificaciones*/
.grade-report-grader th {
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 0pt;
	padding-left: 2px;
}
.grade-report-grader table#user-grades th.category, .grade-report-grader table#user-grades th.item, .grade-report-grader table#user-grades th.categoryitem, .grade-report-grader table#user-grades th.courseitem {
	height: 10px;
}

div.sideblock div.bb {
    background: url("zocalo_footer_original.jpg") no-repeat scroll center 0 transparent;
    height: 14px;
    width: 15px;
    margin: 0;
}
/*Detalles Bloque de Correos*/
body#blocks-email_list-email-participants.blocks-email_list-email div#page div#content div#abcd ul h5 a {
	padding:5px !important;
	border: 1px solid #666666 !important;
}
body#blocks-email_list-email-participants.blocks-email_list-email div#page div#content {
	margin-top: 150px !important;
}
body#blocks-email_list-email-participants.blocks-email_list-email div#page div#content div.rolesform {
	text-align: center !important;}
/*Recursos*/
body#mod-resource-view.mod-resource div#page div#content {
	margin-top:140px;
}/***** FICH_2012/fw_layout.css end *****/

/***** FICH_2012/fw_color.css start *****/

/* Core */

body {
  background: url("back.jpg") no-repeat scroll 0 0 #e7e7e7;
}

a:link {
	color: #666666;
}

a:visited {
	color: #666666;
}

a:hover {
	color: #125B68 ; /*#C7D6D8;*/
}

a.dimmed:link,
a.dimmed:visited {
	color: #125B68; /*#666666;*/
}

.logininfo a:link, 
.logininfo a:visited{
    	color: #406d78; 
	border-bottom: 1px dotted #406d78;
}
.logininfo a:hover {
    	color: #406d78;
	border-bottom: none !important;
	}
.logininfo a.dimmed:link,
.logininfo a.dimmed:visited {
	color: #406d78;
}
#footer {
	background-color:white;
	border-style: none; /*hidden;*/
}
p.footer {
	color: #00728f !important;
	padding-bottom: 5px;
}
p.footer a:link , p.footer a:visited {
	color: #00728f !important;
	border-bottom: 1px dotted #00728f;
}
p.footer a:hover {
	color: #333333 !important;
	border-bottom: none;
}

div.breadcrumb ul li.first {
	color:#546d85 !important;
}

/*To change the color of the link when it's not being hovered over:*/
.breadcrumb li a:link , .breadcrumb a:link {
color:#546d85 ;
}
/*To change the color of the link when it is not hovered over, but has been followed before:*/
.breadcrumb li a:visited , .breadcrumb a:visited {
color:#546d85;
}
/*To change the color of the link when it is hovered over:*/
.breadcrumb li a:hover , .breadcrumb a:hover {
color:#00728f;
}
.breadcrumb a.dimmed:link,
.breadcrumb a.dimmed:visited {
	color: #546d85;
}
span.arrow {
	color: #546d85;
}

p.arrow_button input {
	color:  #546d85;
}
.sideblock a:link ,
.sideblock a:visited {
	color: #666666;
}
.sideblock a:hover {
	color:#125B68;
}
.sideblock a.dimmed:link,
.sideblock a.dimmed:visited {
	color: #125B68;
}
.sideblock a:link span.arrow ,
.sideblock a:visited span.arrow {
	color: #666666;
}
.sideblock a:hover span.arrow {
	color: #125B68;
}
#calendar .maincalendar a:link span.arrow  ,
#calendar .maincalendar a:visited span.arrow   {
	color: #666666; 
}
#calendar .maincalendar a:hover span.arrow {
	color: #125B68 ;
}
table.minicalendar tr td.day a:link ,
table.minicalendar tr td.day a:visited {
	color: white;
}

.tabrow0 a:link,
.tabrow0 a:visited {
	color: #125B68;
}

.tabrow0 a:hover {
	color: black;
}
.tabrow0 a.dimmed:link,
.tabrow0 a.dimmed:visited {
	color: #125B68;
}
ul.tabrow1 li a, ul.tabrow1 li a:link, ul.tabrow1 li a:visited {
	color: #125B68;
}
ul.tabrow1 li a, ul.tabrow1 li a:link, ul.tabrow1 li a:visited {
	color: #125B68;
}

.cell  a:visited {
 	color: #666666;
}

.cell a:hover {
	color: #125B68 ; /*#C7D6D8;*/
}

.cell a.dimmed:link, .cell a.dimmed:visited {
	color: #666666;
}
th.header a:link,th.header a:visited{
	color:white;
}
th.header a:hover{
	color:#125B68;
}
h1 {
  background-color: white; /*#C6BDA8;*/
  border-color: #92A1A5;
}

h2 {
  	background-color:#F8F8FF; /*#E3DFD4;*/
  	border-color: #92A1A5;
	border-style: inset;
  /*border-color:#C6BDA8;*/
}

h2.headingblock.header  {
 /*background: url(pix/grad/gradient_h.jpg);*/
	border-color: #92A1A5;
	background-image: url(barra_botonera.jpg);
}


h3 {
  /*border-color:#C6BDA8;*/
	border-color: #92A1A5;
}
h4 {
  /*border-color:#C6BDA8;*/
	border-color: #92A1A5;
}


th {
    background-color: white; /*#E3DFD4;*/

}

th.header,
td.header,
div.header {
	background-image: url(barra_botonera.jpg); /*background-color: #E3DFD4;*/
	color: white;

}
.headingblock{
	color: #4D4D4D;
}

th.header {
  border-color: #92A1A5; /*#C6BDA8;*/
}
body#course-user .section{
	border-style:outset;
	border-width:1px;
}
#left-column .hidden .header, #right-column .hidden .header {
  /*border-color:#C6BDA8;*/
	border-color: #00728f;

}


#layout-table #left-column, #layout-table #right-column {
    background-image: url("sb_back.jpg");
	background-color: transparent;
	border-style: solid;
	border-color: #cbcbcb; /* aca podes cambiar el color de no se que*/
	border-left: none;
	border-right: none;
	border-top-width: 2px;
	border-bottom-width: 1px;
	border-left: none;
	border-right: none;
	border-top-width: 2px;
	border-bottom-width: 1px;
	
}
.generalbox {

	border-color: #92A1A5;
  	/*background-color:#FFFFFF;*/
	background-color: #f8f8ff;
	color: black;
}
.generalbox td {
	color: black;
}
.generaltable,
.generaltable td {
  	/*border-color:#C6BDA8;*/
	border-color: #92A1A5;
  	background-color:#F8F8FF; 
	/*background-color:transparent; /*#757575;*/
}

.generaltable .r0 td.cell {
	/* background-color:#C6BDA8; */
	background-color: #f8f8ff; /*GhostWhite*/
} 
.generaltable .r0 {
 	background-color: #f8f8ff; /*white; /*#FEF9F6; */
}

.generaltable .r1 td.cell {
 /*border-color:#C6BDA8; */
	 border-color: #92A1A5;
/* background-color:#E3DFD4; */
	 background-color: white;
}

.generaltable .r1 {
	 background-color: white; /*#F1EFEB; */
}

.sitetopiccontent {
  border-color:#C6BDA8;
  background-color:#FFFFFF;
}

.highlight {
  background-color:#C6BDA8;
}

.highlight2 {
  color:#C6BDA8; /* highlight missing terms in forum search */
}
/*General view.php->popup con parámetros de usuario*/
tr#section-0.section.main , tr#section-1.section.main , tr#section-2.section.main , tr#section-3.section.main , tr#section-4.section.main ,
tr#section-5.section.main , tr#section-6.section.main , tr#section-7.section.main , tr#section-8.section.main , tr#section-9.section.main ,
tr#section-10.section.main, tr#section-11.section.main,tr#section-12.section.main ,tr#section-13.section.main ,tr#section-14.section.main ,
tr#section-15.section.main, tr#section-16.section.main,tr#section-17.section.main ,tr#section-18.section.main ,tr#section-19.section.main ,
tr#section-20.section.main{
		background-color: #035241;
}
tr#section-0.section.main td.left.side {
	
	background-color: #E7E7E7;	
	/*border-right: 1px solid lightGrey !important;*/

}
tr#section-1.section.main td.left.side , tr#section-2.section.main td.left.side , tr#section-3.section.main td.left.side , tr#section-4.section.main td.left.side , tr#section-5.section.main td.left.side ,
tr#section-6.section.main td.left.side , tr#section-7.section.main td.left.side , tr#section-8.section.main td.left.side ,
tr#section-9.section.main td.left.side , tr#section-10.section.main td.left.side,
tr#section-11.section.main td.left.side, tr#section-12.section.main td.left.side ,tr#section-13.section.main td.left.side ,
tr#section-14.section.main td.left.side, tr#section-15.section.main td.left.side ,tr#section-16.section.main td.left.side ,
tr#section-17.section.main td.left.side, tr#section-18.section.main td.left.side ,tr#section-19.section.main td.left.side ,
tr#section-20.section.main td.left.side{
	background-color: #E7E7E7;	
	border-right: 1px solid lightGrey !important;

}
tr#section-0.section.main td.content {
	background-color: #e7e7e7;
}

tr#section-1.section.main td.content , tr#section-2.section.main td.content ,
tr#section-3.section.main td.content , tr#section-4.section.main td.content , tr#section-5.section.main td.content ,
tr#section-6.section.main td.content , tr#section-7.section.main td.content , tr#section-8.section.main td.content ,
tr#section-9.section.main td.content , tr#section-10.section.main td.content,
tr#section-11.section.main td.content, tr#section-12.section.main td.content ,
tr#section-13.section.main td.content, tr#section-14.section.main td.content , tr#section-15.section.main td.content ,
tr#section-16.section.main td.content, tr#section-17.section.main td.content , tr#section-18.section.main td.content ,
tr#section-19.section.main td.content, tr#section-20.section.main td.content  {
	background-color: white;
	border-style: solid;
	border-color:LightGrey
}
tr#section-0.section.main td div.summary {
	/*border-color: #92A1A5;*/
	background-color: #e7e7e7;
}

tr#section-1.section.main td div.summary , tr#section-2.section.main td div.summary ,
tr#section-3.section.main td div.summary , tr#section-4.section.main td div.summary , tr#section-5.section.main td div.summary ,
tr#section-6.section.main td div.summary , tr#section-7.section.main td div.summary , tr#section-8.section.main td div.summary ,
tr#section-9.section.main td div.summary , tr#section-10.section.main td div.summary,
tr#section-11.section.main td div.summary, tr#section-12.section.main td div.summary ,
tr#section-13.section.main td div.summary, tr#section-14.section.main td div.summary , tr#section-15.section.main td div.summary ,
tr#section-16.section.main td div.summary, tr#section-17.section.main td div.summary , tr#section-18.section.main td div.summary ,
tr#section-19.section.main td div.summary, tr#section-20.section.main td div.summary {
	background-color: white;
}
tr#section-0.section.main td.right.side {
	background-color: #E7E7E7;
}

tr#section-1.section.main td.right.side , tr#section-2.section.main td.right.side ,
tr#section-3.section.main td.right.side , tr#section-4.section.main td.right.side , tr#section-5.section.main td.right.side ,
tr#section-6.section.main td.right.side , tr#section-7.section.main td.right.side , tr#section-8.section.main td.right.side ,
tr#section-9.section.main td.right.side , tr#section-10.section.main td.right.side,
tr#section-11.section.main td.right.side, tr#section-12.section.main td.right.side ,
tr#section-13.section.main td.right.side, tr#section-14.section.main td.right.side , tr#section-15.section.main td.right.side ,
tr#section-16.section.main td.right.side, tr#section-17.section.main td.right.side , tr#section-18.section.main td.right.side ,
tr#section-19.section.main td.right.side, tr#section-20.section.main td.right.side {
	background-color: #E7E7E7;
	border-left: 1px solid lightGrey !important
}
/*Category boxes */
div.courseboxes.box ul.unlist li{
	background-color: white;
}
/***
 *** Roles
 ***/

.rolecap .inherit.capdefault, .rolecap .allow.capdefault {
  background-color:white;
}

#admin-roles-override .capcurrent {
  background-color:white;
}

/***
 *** Header
 ***/
#header-home {
	border-style: none;
	background-color: transparent;
}

#header-home, #header {
 	background-color: transparent;
	border-style:none;
 }
#header .headermenu {
	background-color: transparent;
	color: #406d78 !important;
	}


h1.headermain {
  	background-color: transparent;
	border-style: none;
}

/***
 *** Login
 ***/


.loginbox,
.loginbox.twocolumns .loginpanel,
.loginbox .subcontent {
  	border-width: 2px;
	border-color: #92A1A5;

}

.loginbox .content {
	border-width: 1px;
	border-color: white;
}

/***
 *** Blocks
 ***/
div.sideblock div.header h2{
 	background: transparent; /*-image: url(barra_botonera.jpg);*/
 	height: auto;
	color: white;

}
div.sideblock div.content {
	background-color: white; 
	color: #4D4D4D;
	text-align: left;
	border-bottom: 2px;
	border-style: solid;
	border-bottom-color: #00728f;

}
.sideblock .content p {
	color: #125B68;
}
.sideblock .footer {
  border-top-color:#125B68; /*#C6BDA8;*/
}

.sideblock .content .post .head .date,
.sideblock .content .post .head .name {
  color: #000000;
  }
/***
 *** Calendar
***/
 

#calendar .maincalendar table.calendarmonth th {
  border-color: #92A1A5;/*#C6BDA8;*/
}


table.calendarmonth tr td {
   border-color:#92A1A5;/*#C6BDA8;*/
} 

table.minicalendar {
  border-color:white; /*#C6BDA8;*/
}

table.minicalendar tr.weekdays th {
  background-color: white; /*#FEF9F6;*/
  border-color:#92A1A5; /*#C6BDA8;*/
 color: black;
  }

table.minicalendar tr td.day {
   border-color: #92A1A5;/*#C6BDA8;*/
	color: black;
  }
  
table.minicalendar tr td.weekend {
  border-color:#92A1A5; /*#C6BDA8;*/
  color: red;
  }
  
#calendar .today,
.minicalendar .today {
	border-color:#E49031 !important;
	background-color:#E49031;
}
#calendar .sidecalendar .filters,.minicalendarblock {
background-color:#E3E9F4;
}


  
/* colors for calendar events */
#calendar .event_global,
.minicalendar .event_global,
.block_calendar_month .event_global {
  border-color:  #D6F8CD !important; /*#2EBA0E*/
  background-color: #D6F8CD; /*#2EBA0E;*/
}

#calendar .event_course,
.minicalendar .event_course,
.block_calendar_month .event_course {
  border-color: #FFD3BD !important; /*#FF9966*/
  background-color: #FFD3BD; /*#FF9966;*/
}

#calendar .event_group,
.minicalendar .event_group,
.block_calendar_month .event_group {
  border-color: #FEE7AE !important; /*#FBBB23*/
  background-color:#FEE7AE; /*#FBBB23;*/
}

#calendar .event_user,
.minicalendar .event_user,
.block_calendar_month .event_user {
  border-color: #EEEFB3 !important;/*#A1BECB*/
  background-color:#EEEFB3; /*#A1BECB;*/
}

.cal_popup_fg {
  background-color:#eeeeee;
}

.cal_popup_bg {
  border-color:#92A1A5;
  background-color:#eeeeee;
}

#calendar .maincalendar .eventlist .event tr,
#calendar .maincalendar .eventlist .event .picture ,
#calendar .maincalendar .eventlist .event .side {
	background-color:  #CCD8DC;
}
#calendar .maincalendar .eventlist .event .description {
	background-color: white;
}
#calendar td.sidecalendar .sideblock {
	border: none;
}
#calendar .sideblock div.header{
	border-bottom-color: white;
}
#calendar .maincalendar, #calendar .sidecalendar, #calendar .maincalendar .event {
	border-color: #92a1a5;
}
#calendar .sidecalendar .filters, .minicalendarblock{
	background-color:transparent;
	background-image: url("sb_back.jpg");
	border-bottom: solid 1px #CBCBCB;
}
table.minicalendar {
	background-color:#E7E7E7 !important;
}

/***
 *** Course
 ***/

.headingblock {
  border-color:#C6BDA8;
}

.categoryboxcontent,
.courseboxcontent {
  border-color:#C6BDA8;
  background: #FFFFFF;
}

.categorybox .category,
.categorybox .category {
  border-color: #C6BDA8;
}
#course-view .section td.side{
	color: #E7E7E7;
}
#course-view .section.main .content {
  /*border-color: #92A1A5; /*#C6BDA8;*/
  background-color: #FFFFFF;
}

#course-view .section.main .side {
  /*border-color: #92A1A5; /*#C6BDA8;*/
  background-color: #FFFFFF;
}
#course-view .current td.content{
   border: solid 3px #0070bb !important;
}
/*#course-view .current .right.side,*/
#course-view .current .left.side {
  background-color: #0070bb !important;
  color: #0070bb !important;
}
/*#course-view .section.hidden .content,
#course-view .section.hidden .side {
  border-color:#92A1A5;
 }*/
/***
 *** Tabs
 ***/

.tabs .side {
  border-color: #C6BDA8;
}
.tabrow td {
  background:url(pix/tab/left.gif) top left no-repeat;
}
.tabrow td .tablink {
  background:url(pix/tab/right.gif) top right no-repeat;
}
.tabrow td:hover {
  background-image:url(pix/tab/left_hover.gif);
}
.tabrow td:hover .tablink {
  background-image:url(pix/tab/right_hover.gif);
}
.tabrow .last span {
  background:url(pix/tab/right_end.gif) top right no-repeat;
}
.tabrow .selected {
  background:url(pix/tab/left_active.gif) top left no-repeat;
}
.tabrow .selected .tablink {
  background:url(pix/tab/right_active.gif) top right no-repeat;
}
.tabrow td.selected:hover {
  background-image:url(pix/tab/left_active_hover.gif);
}
.tabrow td.selected:hover .tablink {
  background-image:url(pix/tab/right_active_hover.gif);
}

/***
 *** Modules: Forum
 ***/

.forumheaderlist,
.forumpost {
  border-color:#92A1A5; /*#C6BDA8;*/
}

.forumpost .content {
  background-color: #EEEEEE;
  /*background: #FEF9F6;*/
}

.forumpost .left {
  /*background:#FEF9F6; */
  background-color:white;
}

.forumpost .topic {
  border-bottom-color:#92A1A5; 
  background-color: white;
}

.forumpost .starter {
  background-color: #EEEEEE;
  /*background:#FEF9F6; */
}

.forumheaderlist .discussion .starter {
background-color: #EEEEEE;
  /*background:#FEF9F6; */
}

.forumheaderlist td {
  border-color: #92A1A5; /*#C6BDA8;*/
}

.sideblock .post .head {
  color:#FEF9F6;
}

.forumthread .unread {
  background: #FEF9F6;
}
#mod-forum-discuss .forumpost {
  background: none;
}

#mod-forum-discuss .forumpost.unread .content {
  border-color: #92A1A5;/*#C6BDA8; */
} 

#mod-forum-discuss .forumthread .unread {
} 

#mod-forum-index .unread {
}

/***
 *** Modules: glossary
 ***/

.picture,
.entryattachment,
.entryapproval {
  background-color: white; /*#E3DFD4;*/
 } 

.entrybox {
  border-color: #C6BDA8;
 }

.glossarypost.dictionary,
.glossarypost.fullwithauthor,
.glossarypost.fullwithoutauthor,
.glossarypost.continuous, 
.glossarypost.encyclopedia,
.glossarypost.faq {
  border-color: #C6BDA8;
  background-color: #FFFFFF;
}

.glossarycategoryheader th  {
  background-color: #F7F6F1;
}


.glossarycategoryheader h2, 
.glossarypost .concept h3 {
  background-color: #FFFFFF
}


/***
 *** Error message
 ***/

.errorbox {
/*   color:#ffffff; */
   	border-color:#990000;
   	background-color:white; /*#FEF9F6;*/
 	/*background-image: url(content_cemed_reemplazar.jpg);*/
 }

.errorboxcontent {
  	background-color:white; /*#FEF9F6;*/
	/*background-image: url(content_cemed_reemplazar.jpg);*/
}
.box {
	background-color: white;
	 /*background-image: url(content_cemed_reemplazar.jpg);*/
}

.boxaligncenter {
	background-color: white;
	 /*background-image: url(content_cemed_reemplazar.jpg);*/
}

.boxwidthnormal {
	background-color: white;
	 /*background-image: url(content_cemed_reemplazar.jpg);*/
}

.noticebox {
	background-color: white;
	/* background-image: url(content_cemed_reemplazar.jpg);*/
}

.forumaddnew, .forumnodiscuss, .noticeboxcontent {
	background-color: white;
	/* background-image: url(content_cemed_reemplazar.jpg);*/
}


/***
 *** Grade
 ***/

.grade-report-grader table#user-grades td.cell span.gradepass {
  background-color: #C2EBBD; 
}

.grade-report-grader table#user-grades td.cell span.gradefail {
  background-color: #EBC4BD;
}

/***
 *** User
 ***/

.userinfobox {
 border-color: #C6BDA8;
}

.userinfobox .side {
 background-color: #EDEAE4;
}

/*Texto de los botones AGREGAR y ELIMINAR*/
.arrow_button input {
	color:black;
}

#add, #remove {
color:black;
}
/*Formularios*/
.mform fieldset legend {
	color: #4D4D4D;
}
.mform fieldset {
	border-color: #92A1A5;
}
/*User infobox->PERFIL*/
.userinfobox .left, .userinfobox .side {
	border-width: 1px;
	border-color: #92A1A5;
	background-color: #E3E9F4;
}
.userinfobox .content {
	background-color:#F8F8FF;
	border-color:#92A1A5;
}
.userinfobox .links {
	background-color:#E3E9F4;
}
.userinfobox{
	border-width: 2px;
	border-color: #92A1A5;
}
/*Course Box*/
.coursebox {
	border: 1px #546D85 solid;
}
.coursebox .info,.coursebox .summary {
	border:transparent;
}

#form1 table tbody {
	background-color: white;
	border-width: 1px;
	border-color: #92A1A5;

}
div .box .noticebox .noticeboxcontent .boxaligncenter .boxwidthnormal{
	background-color: white;
	color: white;
}
/*Módulo Tareas*/
#mod-assignment-submissions .picture ,
#mod-assignment-submissions table.submissions td, #mod-assignment-submissions table.submissions th {
	background-color: #eeeeee;
	border-color: #92a1a5;
}
#mod-assignment-view .feedback {
	border-color: #92a1a5;
}
#mod-assignment-view .feedback .topic {
	border-bottom-color: #92a1a5;
}
#mod-assignment-view .feedback .left ,
#mod-assignment-view .feedback .topic {
	background-color: white;
}
#mod-assignment-view .feedback .content {
	background-color: #eeeeee;
}

/*Modulo de Calificaciones*/
.grade-report-grader td, .grade-report-grader th {
	border-color: #92a1a5;
}

.grade-report-grader table#user-grades tr.odd td.cell {
	border-color: #92a1a5;
}

.grade-report-grader table#user-grades .item {
	background-color: white;
}

.grade-report-grader table#user-grades .catlevel1, .grade-report-grader .r1, .grade-report-grader table tr.even td.cell, .grade-report-grader table tr.even th {
	background-color: white; 
}

.grade-report-grader table#user-grades th.item, .grade-report-grader table#user-grades th.categoryitem, .grade-report-grader table#user-grades th.courseitem {
	border-color: #92a1a5;
}
.grade-report-grader table#user-grades tr.avg td.cell {
	background-color: #92a1a5;
	border-color:white;
	color: white; 
}
/*Cajas de Borrado*/
div#content div.box{
	background-color: #f5f5f5 !important;
}
/*Encabezados de email list*/
body#blocks-email_list-email-index.blocks-email_list-email h2.headingblock ,
body#blocks-email_list-email-search.blocks-email_list-email h2.headingblock {
	color: white !important;
	font-weight: normal !important;
	
}
/*Títulos de los side calendar para que no superponga imágen de fondo*/
body#calendar-view.calendar div#page div#content table#calendar tbody tr td.sidecalendar div.sideblock div.header h2 {
	background: none repeat scroll 0 0 transparent !important; }
/*Book Style*/
#mod-book-view.mod-book div#page div#content{
  margin-top: 1px;
  padding-top: 0px !important;
}
#mod-book-view.mod-book div#page div#content table.booktable tbody tr td div.bookexport,
#mod-book-view.mod-book div#page div#content table.booktable tbody tr td div.booknav {
  position: relative;
  top: 20px;
}
#mod-book-view.mod-book div#page div#content table.booktable tbody tr.tocandchapter td div.generalbox{
    background-color: #FFFFFF !important;
    color: #4D4D4D !important;
    text-align: left !important;
    margin-bottom:1px;
}
#mod-book-view.mod-book div#page div#content table.booktable tbody tr.tocandchapter td div.generalbox div.book_content p.book_chapter_title{
    color: #FFFFFF !important;
    background: url("cuadradito_blanco.png") no-repeat scroll 5px 20px #00728F !important;
    padding: 10px 10px 10px 20px !important;
    border-bottom: solid 6px #A3A2A8 !important;
    font-size: 1.4em !important;
}
#mod-book-view.mod-book div#page div#content table.booktable tbody tr.tocandchapter td div.generalbox div.book_content {
    border-bottom: solid 6px #00728F !important;
    padding-bottom: 15px !important;
}
#mod-book-view.mod-book div#page div#content table.booktable tbody tr.tocandchapter td div.indice-contenidos div.book_toc_bullets ul li a{
    font-size: .9em !important;
    font-weight: normal !important;
}
.book_toc_bullets li {
    list-style-image: url("cuadradito_azul.png") !important;
    list-style-position: inside !important;
    margin-top: 5px !important;
}
.book_toc_bullets li:hover {
    list-style-image: url("cuadradito_blanco.png") !important;
    list-style-position: inside !important;
    margin-top: 5px !important;
}/***** FICH_2012/fw_color.css end *****/

/***** FICH_2012/fw_fonts.css start *****/

/* Core */

.clearer {
  font-size:1px;
}

body, td, li, input, select {
    font-family: Arial, Helvetica, sans-serif;
    font-size : 10pt;
}

th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.tabrow0 a:link {
	font-size: 110%;
}
.tabrow0 a:visited {
	font-size: 110%;
}

.tabrow0 a:hover {
	font-size: 110%;
}
.tabrow0 a.dimmed:link,
.tabrow0 a.dimmed:visited {
	font-size: 110%;
}
ul.tabrow1 li a, ul.tabrow1 li a:link, ul.tabrow1 li a:visited {
	font-size: 100%;
}
.breadcrumb a:visited , .breadcrumb a:link ,.breadcrumb a:hover{
	font-size: bold;
}
h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size:1.2em;
    font-weight: bold;
}

h2 {
    font-size:1.15em;
}
h3 {
    font-size:1.1em;
}
h4 {
    font-weight:bold;
}

th.header,
td.header,
div.header,
.headingblock {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.9em;
	
}


.categorybox .category {
/*  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; */
    font-size: 1.2em;
    font-weight: bold;
}

.generaltable td.cell.c0 {
  font-weight: bold;
}
/***
 *** Header
 ***/
 
.breadcrumb {
    font-family: Arial, Helvetica, sans-serif;
    font-size:.10pt;
    font-weight: bold;
}

.logininfo,
#header-home .headermenu font {
     font-size: 8pt !important;
}
div.headermenu div.logininfo a {
	font-size: 7pt !important;
}
/*Footer*/
h1.footer{
	font-size: 9pt;
}
h2.footer{
	font-size: 9pt;
}
p.footer {
	font-size: 8pt
}


 /***
 *** Blocks
 ***/
div.sideblock div.title h2 {
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
}
div.sideblock div.content {
	font-size: 8pt;
	font-weight: normal;
}
.sideblock .footer {
    font-size:8pt;
    text-align: left;
}
.sideblock .content .list li {
	font-size:8pt;
    	text-align: left;
}
.sideblock .content p {
	font-size:8pt;
    	text-align: left;
}
.activitydate, .activityhead{
	text-align:left;
}
.sideblock .content .list, .unlist, .inline-list{
	font-weight: normal;
}
.sideblock .content .inline-list td{
	font-weight: bold;
	font-size: 8pt;
}
.sideblock .content div.date,
.sideblock .content div.name,
.sideblock .content div.info {
	font-size: 8pt;
	text-align: left;
}
/***
 *** Calendar
 ***/

#calendar .maincalendar table.calendarmonth td {
  font-size:8pt;
}

#calendar .maincalendar .calendar-controls .current {
  font-weight: bold;
}
div.minicalendarblock div a {
  	font-size:7pt;
	font-weight:bold;
}

#calendar .sidecalendar .filters {
  font-size:8pt;
  }
/*Etiqueta dentro del calendario: Clave de Eventos...*/
.sideblock .content h3.eventskey {
	font-size: 8pt;
}
table.minicalendar tr.weekdays th {
  font-family: Arial, Helvetica, sans-serif;
  font-size:6pt;
  font-weight:normal;
  }

table.minicalendar tr td {
  font-size:6pt;
  }
/*Etiquetas de eventos: Global, Usuario, Curso y Grupo*/
.block_calendar_month .filters table tr td{
	font-size:7pt;
	font-weight:bold;
}
/*Agregado*/
#calendar .sidecalendar .filters table tr td {
	font-size:7pt;
	font-weight:bold;
}
  
/***
 *** Course
 ***/
  
#course-view .section .left {
  font-weight: bold;
  font-size: 10pt;
}

.coursebox .info .name {
  font-weight: bold;
  font-size: 10pt;
}

/* Accessibility: only certain fonts support Unicode chars like &#x25BA; in IE6 */
.arrow, .arrow_button input {
  font-family: Arial,Helvetica,sans-serif;
}

/*
span.arrow {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
} */

p.arrow_button input {
  font-family: Arial, Helvetica, sans-serif;
}


/*Accessibility: resizable icons. */
img.resize {
  width: 1em;
  height: 1em;
}

/***
 *** Glossary
 ***/
.glossarypost div.concept h3,
.glossarypost.continuous .concept {
  display: inline;
}
/***
 *** Formularios
 ***/

.mform {
	font-family: Arial,Helvetica,sans-serif;
  }
.mform fieldset legend {
	font-weight: bold;
	font-size: 9pt;
}
.mform .fitemtitle {
	font-weight: normal;
	font-size: 8pt;
}
.mform div.fitem {
        font-weight: normal;
	font-size: 8pt;
}
.mform .fdescription.required {
	font-weight: normal;
	font-size: 8pt;
}
.mform input, .mform select {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;	
  }	
.notifyproblem {
	font-weight: bold;
	font-size: 9pt;
}
ul.tabrow1 li a, ul.tabrow1 li a:link, ul.tabrow1 li a:visited {
	font-size: 9pt;
}
/***
 *** Tablas Generales ->Donde aparecen los roles y los usuarios
 ***/
.generalbox, .generalbox td{
	font:normal 10pt Arial;
}


.generaltable, .generaltable td {
	font-size: 9pt;
	text-align : left;
	width: auto;
}
.generaltable .cell {
	font-size: 8pt;
	text-align : left;
	width: auto;
}

/*QUIZZES*/
#mod-quiz-report table#attempts td {
	font-size: 9pt;
}

#mod-quiz-report table#attempts .header, #mod-quiz-report table#attempts .cell {
font-size: 8pt;

}
#mod-quiz-report table#itemanalysis td {
  	font-size: 9pt;
}

#mod-quiz-report table#itemanalysis .header, #mod-quiz-report table#itemanalysis .cell
{
  	font-size: 8pt;
}
#form1 table tbody tr td b,
#form1 table tbody tr td a,
#form1 table tbody tr td span label{
	font-family: Arial,Helvetica,sans-serif;
  	font-size: 8pt;	
}
/*Módulo Tareas*/
#mod-assignment-submissions .timemodified, #mod-assignment-submissions .timemarked {
	font-size: 8pt;
}
/*Modulo de Calificaciones*/
.grade-report-grader td, .grade-report-grader th {
	font-size: 8pt;
	width: 80%;
}
.grade-report-grader table#user-grades tr.avg td.cell {
	font-size: 10pt;
}
/***** FICH_2012/fw_fonts.css end *****/

